.form-container{
    min-height: 80vh;
}

.count-down-timer{
    font-size: 24px;
    text-align: center;
    margin: 2em;
    color: #2b2b2b;
}

.slider img {
    height: 350px;
    object-fit: contain;
}

.thumb img{
    height: 100px;
    object-fit: contain;
    border: 1px solid black;
}